.button-one{
    padding: 10px;
    margin-top: 5px;
    
    background-color: $color-pred;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid $color-dark;
    color: $color-link;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
    transition: 0.5s;

    &:hover{
        background-color: $color-dark;
            padding-right: 15px; //to make the button lengthen laterally
            padding-left: 15px; //to make the button lengthen laterally
    }       //used because the scale property blurs the text
    
}
