$color-primary:#70977f; //color focus link menù moblile
$color-pred:#2c4751; //color predominant navbar
$color-light:rgb(72, 53, 60, 0.9); //color bg menu mobile
$color-link:#d9dee0; //color with link and bg page
$color-dark:#425f4c; //color bg hover 
$color-pred-trasp:rgba(66, 95, 76, 0.2);
$font-style: Roboto, sans-serif;