$color-primary:#70977f; //color focus link menù moblile
$color-pred:#2c4751; //color predominant navbar
$color-light:#48353c; //color bg menu mobile
$color-link:#d9dee0; //color with link and bg page
$color-dark:#425f4c; //color bg hover 
$color-pred-trasp:#425f4c33;
$font-style: Roboto, sans-serif;