$color-primary:#70977f;
$color-dark:#2c4751;
$color-light:#48353c;
$color-link:#d9dee0;
$color-pred:#425f4c; //color predominant
$color-pred-trasp:rgb(66, 95, 76, 0.2);
$font-style: Roboto, sans-serif;