@media only screen and (min-width:961px){
    body{
        font-family: $font-style;
        width: 100%;
        line-height: 1.6;
        font-size: 18px;
        text-transform: capitalize; //for the first capital letter
       }

       .navbar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        top: 0;
    
            li{
                list-style-type: none;
            }
        }
    .column-about{
        grid-template-columns: 1fr;
    }
    .row-image-profile{
        max-width: 500px
    }
    
    .contactme-form-header,
    .form-contactme {
        width: 600px;
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start; //To avoid stretching
        margin-bottom: 20px;

        input[type='text'],
        input[type='email'],
        textarea {
            width: 250px;
            height: initial;
        }
         label {
            text-align: right;
            width: 120px;
            margin-top: 7px;
            padding-right: 20px;
        }


        .button-one {
            margin-left: 120px;
          }
    }
     
      
}