@media only screen and (min-width:961px){

    .grid-nav{
        height: 100px;

            .row-my-logo{
                img{
                    width: 150px;
                }
            }

            .row-logo{
                top: 120px;
                left: 10px;
                    svg{
                        width: 70px;
                        height: 40px;
                    }
            }

            .dropdown-content{
                min-height: 80px;
                min-width: 400px;
                right: 70px;
                top: 10px;
                align-items: center;
                background-color: $color-pred;
                box-shadow: none;
                
                li{
                    font-size: 1em;
                }
            }
            .dropdown-btn{
                svg{
                    width: 70px;
                    height: 40px;
                }
            }
    }

    .item-grid-2{
        background-color: $color-pred-trasp;
        .grid-about{
           width: 85%;
           margin: auto;
           font-size: 1.5em;
           background-color: transparent;
        }

        .row-skills{
            margin: auto;
        }
    }

    .item-grid-4{
        
        .grid-cv{
            width: 80%;
            margin: auto;
            grid-template-columns: 40% auto;
            font-size: 1.5em;
            min-height: 300px;
            gap: 20px;

            .row-imagecv-profile{
                img{
                    width: 100%;
                }
            }

            .row-name-cv{
                
                margin: 10px 0 0 10px;
                

                #position-downloadCV{
                    left: 5px;
                    top: 20px;

                        svg{
                            width: 60px;
                            height: 40px;
                        }
                }
            }

            .row-personal-info{
                padding: 20px;

                    svg{
                        width: 50px;
                        height: 30px;
                    }
            }
        }
    }
   

   
    //start custom scrollbar
    ::-webkit-scrollbar {
        width: 8px;
    }
  
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $color-link; 
   
    }
   
    ::-webkit-scrollbar-thumb {
        background: $color-pred-trasp; 
        border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
        background: $color-pred; 
    }
    //finish custom scrollbar 
    
    .arrow-back-up{
        svg{
            height: 50px;
            opacity: 0.5;
            &:hover{
                opacity: 0.9;
            }
        }
    }
        
}


   

    

   
