    
    .dropdown-content {
      display: none; /* Nascondiamo il menu per impostazione predefinita */
      position: absolute;
      background-color: $color-light;
      width: 310px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      top: 48px;
      right: 0px;
      z-index: 1;
  }

  .dropdown-content ul{
      list-style-type:none;
      text-align: left;
  }

  .dropdown-content li {
      padding: 8px 16px;
  }
  
  .dropdown-content li a {
      text-decoration: none;
      color: $color-link;
      display: block;
  }
  
  .dropdown-content li:hover {
      background-color: #ddd;
  }
  
  /* Il pulsante di dropdown */
  .dropdown-btn {
      background-color: $color-pred;
      color: $color-link;
      padding: 5px;
      border: none;
      cursor: pointer;

        svg{
          width: 40px;
          height: 30px;
          fill: $color-link;
        }
  }
  