.row-form {
  background-color: $color-pred-trasp;
  display: flex;
  flex-direction: column;
  align-items: center;
  //to send the footer at the bottom of the page when the content is not enough
  min-height: 100%; //for compatibility with the browsers
  height: auto !important;
  height: 100%;
  padding-bottom: 30px;
  margin: 0 auto -100px; //to make room for the footer who receives a push down equal to the height of the extra div
}

.contactme-form{
  background-color: $color-pred-trasp;
  padding: 10px 10px 15px 10px; 
  border-radius: 10px;
}

.row-header-form {
  border-radius: 3px;
  width: 100%;
  padding: 20px;
  background-color: $color-pred-trasp;

    h1 {
    font-size: 30px;
    color: $color-pred;
    }
}

.item-row-form {
  margin-bottom: 5px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

  input[type='text'],
  input[type='email'] {
    background-color: $color-pred-trasp;
    border: 1px solid $color-dark;
    border-radius: 3px;
    padding: 7px;
    font-size: 0.8em;
  }
  
   label {
    margin: 15px 0 15px 0;
  }

   input[type='text']:invalid,
   input[type='email']:invalid {
    border: 1px solid $color-dark;
    color: darkred;
  }


  textarea {
    border: 1px solid $color-dark;
    background-color: $color-pred-trasp;
    border-radius: 3px;
    min-height: 100px;
    min-width: 200px;
    margin-bottom: 10px;
    padding: 7px;
    font-family: inherit;
    font-size: 0.8em;
    resize: none;
  }

  input[type='submit']{ //to use the customization of the button text
    color: $color-link;
  }

}

