.speaker-form-header {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}
        
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .speaker-form {
        background-color: #F6F7F8;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        
        width: 80%;
        padding: 50px;
        margin: 0 0 40px 0;
      }
    
      .form-row {
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      }

    .form-row input[type='text'],
    .form-row input[type="email"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }


  .form-row input[type='text']:invalid,
  .form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
  }


  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  }
  
  .form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

  @media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
      width: 600px;
    }
    .form-row {
      flex-direction: row;
      align-items: flex-start; 
    }
    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row textarea {              
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
    
    .form-row .instructions {
        margin-left: 120px;
      }

    .form-row button {
        margin-left: 120px;
      }
  }