.form-contactme {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.contactme-form-header {
  text-align: left;
  border-radius: 3px;
  width: 100%;
  margin-top: 80px;
  padding: 20px;

  h1 {
  font-size: 30px;
  
  }
}

.form-row {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;

  input[type='text'],
  input[type='email'] {
    background-color: $color-primary;
    border: 1px solid $color-dark;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
   label {
    margin: 15px 0 15px 0;
  }

   input[type='text']:invalid,
   input[type='email']:invalid {
    border: 1px solid $color-dark;
    color: $color-light;
  }


  textarea {
    border: 1px solid $color-dark;
    background-color: $color-primary;
    border-radius: 3px;
    min-height: 200px;
    width: 250px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none; //disabled user resizing
  }

  input[type='submit']{ //to use the customization of the button text
    color: $color-dark;
  }

}

