
.item-logo{
    
  padding-top: 20px;
  padding-left: 10px;
}
  svg{
      width: 40px;
      height: 30px;
      fill: $color-pred;
      border-radius: 5px;
      
  }

.arrow-back-up{
  position: fixed;
  z-index: 1000;
  bottom: 2px;
  right: 2px;
}
    