body{
   
    font-family: $font-style;
    line-height: 1.6;
    font-size: 18px;
    text-transform: capitalize; //for the first capital letter
    background-color: $color-link;

      a{
        color: $color-link; //cambia solo i link 
      }
}

//start navbar first page
.dropdown:hover .item-menu{
    display: flex;
    flex-direction: column;
    text-shadow: 6px 2px 4px rgba(44, 71, 81, 0.46);
    border-radius: 5px;
    padding-top: 10px;
    position: absolute;  
    top: 40px;
    left: -15px;
    z-index: 1;
    background-color: $color-light;
    
}

.item-menu{
    display: none;

    li{
      list-style: none;
      border-bottom: 1px dotted $color-primary;
      font-size: 0.8em;
      padding: 0 5px 10px 5px;
      margin: 5px;
      text-align: center;
      font-weight: 700;
      
      
    }
}

.navigation{
   justify-content: center;
    display: flex;
    font-size: 0.8em;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    
    li{
      list-style-type: none;
  }
}


a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.dropdown{
    position: relative;

    span{
        z-index: 2;
        position: relative; 
        cursor: pointer;
        left: 0;
        animation-name: dropmove;
        animation-iteration-count: 3;
        animation-duration: 1.5s;
    }
    @keyframes dropmove {
        0%   {left:0px; top:0px;}  
        25%  {left:0px; top:0px;}
        50%  {left:0px; top:10px;}
        75%  {left:0px; top:10px;}
        100% {left:0px; top:0px;}
      }
    }
      //end navbar first page

      //start navbar other pages
      .dropdown-otherpg:hover 
      .item-menu-otherpg{
        display: flex;
        flex-direction: column;
        text-shadow: 6px 2px 4px rgba(44, 71, 81, 0.46);
        border-radius: 0 0 5px 5px ;
        padding-top: 10px;
        position: absolute;  
        top: 44px;
        left: -15px;
        z-index: 1;
        background-color: $color-light;
       
    }
    
    .item-menu-otherpg{
        display: none;
    }
    
    .navigation-otherpg{
       justify-content: center;
        display: flex;
        font-size: 0.8em;
        margin-top: 10px;
        list-style-type: none;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    
    
    .item-menu-otherpg li{
        list-style: none;
        border-bottom: 1px dotted $color-primary;
        font-size: 0.8em;
        padding: 0 5px 10px 5px;
        margin: 5px;
        text-align: center;
        font-weight: 700;
      
    }
    
    a:link,
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    
    .dropdown-otherpg{
        position: relative;
    
        span{
            z-index: 2;
            position: relative; 
            cursor: pointer;
            left: 0;
            animation-name: example;
            animation-iteration-count: 3;
            animation-duration: 1.5s;
        }
        @keyframes example {
            0%   {left:0px; top:0px;}  
            25%  {left:0px; top:0px;}
            50%  {left:0px; top:10px;}
            75%  {left:0px; top:10px;}
            100% {left:0px; top:0px;}
          }
    }
          //end navbar other pages
    

.arrow-back-up{
  position: fixed;
  z-index: 1000;
  bottom: 2px;
  right: 2px;
}
    