$color-primary:#70977f;
$color-secondary:#4c7b92;
$color-dark:#2c4751;
$color-light:#a02713;
$font-style: Roboto, sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-primary;
    font-family: $font-style;
    line-height: 1.6;
    font-size: 18px;
    
}

.navbar{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1320px;
    background-color: #a02713;
}

.logo-name{
    display: flex;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
}

.navigation{
    font-size: 0.8em;
}