@import 'config';
@import 'button';
@import 'form';
@import 'cards';
@import 'dropdown-menu';

//mobile

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-style;
    line-height: 1.6;
    font-size: 18px;
    text-transform: capitalize; //for the first capital letter
    background-color: $color-link;
  
      a{
       color: $color-link; //change color link
      }
  }

//start navbar style first page
.grid-logo{
    display: grid;
    grid-template-columns: 40px 40px 40px;
}

.item-logo{
    padding-top: 20px;
    padding-left: 10px;
}

svg{
    width: 40px;
    height: 30px;
    fill: $color-pred;
    border-radius: 5px;
}
//end style navbar first page

//start style navbar other page
.navbar{
    position: fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 3px 30px 5px 10px;
    top: 0;
    background-color: $color-pred;

    li{
        list-style-type: none;
    }
}

.logo-name{
    display: flex;
    padding: 10px 10px 10px 0;
    font-weight: 700;
    font-size: 1em;
    flex-wrap: wrap;
    transition: 0.5s;
        
        a{
            text-decoration: none;
        }
        h1{
            font-size: 0.8em;
            line-height: 0.5;
            color: $color-primary;
        }
       
}
//end style navbar other page

//start style body first page
.column-firstpage{
    margin:100px 15px 30px 15px;
    padding: 40px 0 40px 0;
    background-color: $color-pred-trasp;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-name-firstpg{
    text-align: center;
    font-size: 1.2em;
    color: $color-pred;
    flex-wrap: wrap;

    h5, h3{
        color: $color-primary;
    }
}
//end style body first page

//start style section about
.column-about{
    display: grid;
    grid-template-columns: auto;
    margin-top: 60px;
    color: $color-dark;

        img{
            border: 2px solid $color-pred;
        }

        p{
            font-size: 0.8em;
            text-transform: none;
        }

        h1{
            text-align: center;
            text-transform: none;
            font-size: 1.2em;
            padding: 10px 0 20px 0;

        }
}

.row-image-profile {
    width: 100%;
    padding: 20px 70px 10px 70px;
} 

.row-text-profile {
    text-align: left;
    width: 100%;
    padding: 0 30px 30px 30px;
    background-color: $color-pred-trasp;
} 

.row-skills{
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.row-button{
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: $color-pred-trasp;
}

.button-ct{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0 15px 0;
    flex-wrap: wrap;

    a{
        text-decoration: none;
    }
}
//end style section about


.column-footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 5px;
    align-items: center;
    color: $color-dark;
    background-color: $color-pred-trasp;
  }
  
.about{
    background-color: $color-link; //only for mobile style 
}
  
.arrow-back-up{
    position: fixed;
    z-index: 1000;
    bottom: 1px;
    right: 2px;
}
  
@import 'tablet';
@import 'desktop';
