@import 'config';
@import 'button';
@import 'form';
@import 'cards';
@import 'dropdown-menu';
@import 'toast';
//mobile

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%; //to send the footer at the bottom of the page when the content is not enough
}
body{
    height: 100%; //to send the footer at the bottom of the page when the content is not enough
    font-family: $font-style;
    line-height: 1.6;
    font-size: 18px;
    text-transform: capitalize; 
    background-color: $color-link;
  
      a{
       color: $color-link; //change color link
      }
  }

//start navbar style first page
.grid-logo{
    display: grid;
    grid-template-columns: 40px 40px 40px;
}

.item-logo{
    padding-top: 20px;
    padding-left: 10px;
}

svg{
    width: 40px;
    height: 30px;
    fill: $color-pred;
    border-radius: 5px;
}
//end style navbar first page

//start style navbar other page
.navbar{
    position: fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 3px 30px 5px 10px;
    top: 0;
    background-color: $color-pred;

    li{
        list-style-type: none;
    }
}

.logo-name{
    display: flex;
    padding: 10px 10px 10px 0;
    font-weight: 700;
    font-size: 1em;
    flex-wrap: wrap;
    transition: 0.5s;
        
        a{
            text-decoration: none;
        }
        h1{
            font-size: 0.8em;
            line-height: 0.5;
            color: $color-primary;
        }
       
}
//end style navbar other page

//start style body first page
.column-firstpage{
    margin:100px 15px 30px 15px;
    padding: 70px 60px 70px 60px;
    background-color: $color-pred-trasp;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-name-firstpg{
    text-align: center;
    font-size: 1.2em;
    color: $color-pred;
    flex-wrap: wrap;

    h5, h3{
        color: $color-primary;
    }
}
//end style body first page

//start style section about
.column-about{
    display: grid;
    grid-template-columns: auto;
    margin-top: 60px;
    color: $color-dark;

        img{
            border: 2px solid $color-pred;
        }

        p{
            font-size: 0.8em;
            text-transform: none;
        }

        h1{
            text-align: center;
            text-transform: none;
            font-size: 1.2em;
            padding: 10px 0 20px 0;

        }
}

.row-image-profile {
    width: 100%;
    padding: 20px 70px 10px 70px;
} 

.row-text-profile {
    text-align: left;
    width: 100%;
    padding: 0 30px 30px 30px;
    background-color: $color-pred-trasp;
} 

.row-skills{
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 20px;

        .button-one{
            background-color: $color-pred;
            padding: 10px; //to cancel the effect given to the buttons
            cursor:default; //to cancel the pointer cursor
        }
}

.row-button{
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: $color-pred-trasp;        
}

.button-ct{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0 15px 0;
    flex-wrap: wrap;

    a{
        text-decoration: none;
    }
}
//end style section about

.button-contactme{
    padding: 10px 0 10px 0;
}

.extra, .column-footer{
    height: 100px; //to send the footer at the bottom of the page when the content is not enough
}

.column-footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 5px;
    align-items: center;
    color: $color-dark;
    background-color: $color-pred-trasp;

    a{
        text-decoration: none; 
       }
  }

.about{
    background-color: $color-link; //only for mobile style 
}
  
.arrow-back-up{
    position: fixed;
    z-index: 1000;
    bottom: 1px;
    right: 2px;
}

.column-cv{
    display: grid;
    grid-template-columns: auto;
    margin-top: 60px;

        h3{
            color: $color-dark;
        }
}

.row-name-cv{
    text-align: center;
    color: $color-dark;
    padding: 30px 10px 10px 10px;
    background-color: $color-link;

        h1{
            font-size: 2.5em;
        }
        h2{
            font-size: 1em;
        }
    
}

.row-personal-info{
    background-color: $color-pred-trasp;
    box-sizing: content-box;
    
    
        li{
            list-style-type: none;
        };
        div{
            padding: 10px 30px 10px 30px;
            
        }
        p{
            text-transform: none;
        }

        h3{
            color: $color-pred;
        }
    
}

.row-exp{
    background-color: $color-link;
    padding: 10px 30px 10px 30px ;

        h4{
            padding: 5px 0 5px 0;
        }
        ul{
            margin: 10px 0 0 30px;
        }
        div{
            font-size: 0.8em;
        }

        .dropdown {
            max-width: 13em;
            position: relative;
            width: 100%;
          }
          
          .dropdown-btn {
            background-color: none;
            width: 100%;
            border: none;
            color: $color-link;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            margin: 10px 0 10px 0;
            border-radius:5px;
            cursor: pointer;
          }
          
          .arrow {
            margin-right: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $color-dark;
            transition: transform ease-in-out 0.3s;
          }
          
          .dropdown-content {
            list-style: none;
            position: absolute;
            top: 30px;
            left: -30px;
            width: 100%;
            visibility: hidden;
          /*   overflow: hidden; */
            transform: translateY(-1em);
            transition: transform ease 0.3s;
          }
          
          input[type="checkbox"]:checked ~ .dropdown-content {
            visibility: visible;
            transform: translateY(0);
          }
          
          .dropdown-content li {
            background: $color-dark;
            border-radius: 0.5em;
          }
          
          input[type="checkbox"]:checked + label > .arrow {
            transform: rotate(180deg);
          }
          
          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
          }
          
          input[type="checkbox"]:focus + label {
            box-shadow: inset 0 0 10px $color-pred-trasp;
          }
          
          
          .dropdown-content li a {
            display: block;
            padding: 0.7em 0.5em;
            color: #fff;
            margin: 0.1em 0;
            text-decoration: none;
          }
    
}
  
@import 'tablet';
@import 'desktop';
